* {
  margin: 0;
  padding: 0
}



.main-title {
  height: 60px;
  color: rgb(43, 43, 43);
  background-color: rgb(164, 194, 192);
  font-family: 'italianno','Pacifico', cursive;
  font-weight: 200;
  font-size: 45px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 5px;
}

.main-subtitle{
  color: rgb(43, 43, 43);
  font-family: 'lato';
  font-weight: 300;
  font-size: 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-image{
  width: 100%;
}

.home-title{
  padding-left: 80px;
  padding-top: 50px;
  font-family: monomakh;
  font-weight: 100;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-about{
  margin: 10px 80px 40px 80px;
  font-family: 'lato';
  font-size: 10px;
  color: rgb(72, 67, 67);
}

.home-image{
  width: 400px;
}

.section{
  padding-left: 80px;
  padding-top: 40px;
}

.section-header{
  font-family: monomakh;
  font-weight: 100;
  font-size: 15px;
  padding-bottom: 5px;
}

.section li {
  font-family: lato;
  font-size: 10px;
  color: rgb(72, 67, 67);
  padding-bottom: 5px;
}